.friend_list {
	width: 250px;
	height: 400px;
	margin: auto;
    margin-bottom: 30px;
}

.item {
  display: flex;
  align-items: center;
  width: 100%;
  box-shadow: 0 0 1em;
  border-radius: 3px;
  background-color: #fff;
  margin-bottom: 10px;
}

 
.statusOnline,
.statusOffline {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green;
    margin: 0 15px 0 15px;
}

.statusOffline {
    background-color: red;
}

.avatar {
    border-radius: 10px;
    margin: 10px 10px 10px 0px;
}

.name {
    font-size: 24px;
  font-weight: 600;
}